// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "datatables/dataTables.bootstrap4.min";

//
// FontAwesome //
//
@import "font-awesome/scss/fontawesome";
@import "font-awesome/scss/regular";
@import "font-awesome/scss/solid";
@import "font-awesome/scss/brands";
@import "font-awesome/scss/v4-shims";

table{
  &.dataTable{
    thead{
      .sorting,.sorting_asc,.sorting_desc,.sorting_asc_disabled,.sorting_desc_disabled{
        cursor: pointer;
        *cursor: hand;
        background-repeat: no-repeat;
        background-position: center right;
        &:before{
          right: 1em;
          content: "" !important;
        }
        &:after{
          content: "" !important;
        }
      }
      .sorting{
        background-image: url(/images/vendor/datatables.net-dt/sort_both.png?9a6486086d09bb38cf66a57cc559ade3);
      }
      .sorting_asc{
        background-image: url(/images/vendor/datatables.net-dt/sort_asc.png?9326ad44ae4bebdedd141e7a53c2a730);
      }
      .sorting_des{
        background-image: url(/images/vendor/datatables.net-dt/sort_desc.png?1fc418e33fd5a687290258b23fac4e98);
      }
      .sorting_asc_disabled{
        background-image: url(/images/vendor/datatables.net-dt/sort_asc_disabled.png?d7dc10c78f23615d328581aebcd805eb);
      }
      .sorting_desc_disabled{
        background-image: url(/images/vendor/datatables.net-dt/sort_desc_disabled.png?bda51e15154a18257b4f955a222fd66f);
      }
    }
  }
}
#dataTable td span, .main-content #admin-list td span {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
}
#dataTable td .btn-outline-info{
  margin-right: 0.5rem;
}